

<div class="container" id="contactBackground">
    
  <h1 class="text-right">#creators</h1>
      
    <br><br>

  <div class="row">
    <div class="col-md-3 text-center" style="display: inline-block">
      <a href="https://github.com/PAUCHOU"><img src="https://avatars3.githubusercontent.com/u/7623974?v=2&s=400" alt="KChou"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="text-center">Kevin Chou</h4>
        <ul class="linkIcons text-center">
          <span class="text-center icons">
            <a href="https://github.com/PAUCHOU">
              <!-- <img src="/images/github.png" alt="github" height="45px" width="45px"> -->
              <%= image_tag "github.png", height: '35px', width: '35px' %>
            </a>
          </span>
          <span class="text-center icons">
            <a href="https://www.linkedin.com/in/kevinchou723">
            <%= image_tag "linkedin.png", height: '35px', width: '35px' %>
            </a>
          </span>
          <span class="text-center icons">
            <a href="https://twitter.com/">
              <%= image_tag "twitter.png", height: '35px', width: '35px' %>
            </a>
          </span>
        </ul>
    </div>

    <div class="col-md-3 text-center" style="display: inline-block">
      <a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
    </div>
      
    <div class="col-md-3 text-center">
      <h4 class="text-center">Dustin Yu</h4>
        <ul class="linkIcons text-center">
          <span class="text-center">
            <a href="https://github.com/dustin520">
              <%= image_tag "github.png", height: '35px', width: '35px' %>
            </a>
          </span>
          <span class="text-center">
            <a href="www.linkedin.com/in/dustin520/">
              <%= image_tag "linkedin.png", height: '35px', width: '35px' %>
            </a>
          </span>
          <span class="text-center">
            <a href="https://twitter.com/dustin520">
              <%= image_tag "twitter.png", height: '35px', width: '35px' %>
            </a>
          </span>
        </ul>
    </div>
  </div>


</div>

<br><br>
